
<div>


    <textarea id="tmpl-main-left-menu">
        <div class="menu">
            <div class="parent" ng-repeat="page in pages">
                <a class="item" ng-if="page.children.length==0" ng-class="page.page_name==page_name?'active':''" ng-click="pageChange(page)">{{page.page_name}}</a>


                <div class="item" ng-if="page.children.length>0" ng-click="showItems(page,true)" ng-mouseout="showItems(page,false)">
                    {{page.page_name}}
                    <div class="child" ng-class="page.show_items==true?'show':'hide'" >
                        <a ng-class="page.page_name==page_name?'active':''"  class="item" ng-click="pageChange(page)" >全部</a>
                        <a ng-class="child.page_name==page_name?'active':''"  ng-repeat="child in page.children" class="item" ng-click="pageChange(child,page)">{{child.page_name}}</a>
                    </div>
                </div>
                
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-position-select-bar">
        <div class="position-select-bar">
            <ul>
                <li ng-repeat="item in list" ng-class="{selected: item.selected == true}" ng-click="barClick(item, $index)" >
                    {{item.title}}
                </li>
            </ul>
        </div>
    </textarea>

    <textarea id="tmpl-main-top-menu">
        <div class="ui form">
            <div class="five fields">
                <div class="field">
                    <select ng-change="reload(0)" ng-model="timeSelect" class="ui dropdown" name="card[expire-time]">
                        <option ng-selected="true" value="today">今天</option>
                        <option value="yestoday">昨天</option>
                        <option value="week">本周</option>
                        <option value="lastweek">上周</option>
                        <option value="month">本月</option>
                        <option value="lastmonth">上月</option>
                        <option value="30">30分钟内</option>
                        <option value="180">3小时内</option>
                        <option value="720">12小时内</option>
                    </select>
                </div>
                <div class="field" ng-show='active_menu=="index"'>
                    <select ng-change="reload()" ng-model="browser_name" class="ui dropdown" name="card[expire-browser]">
                        <option ng-selected="true" value="">全部浏览器</option>
                        <option value="chrome">chrome</option>
                        <option value="ie">ie</option>
<!--                         <option value="firefox">firefox</option>
                        <option value="safari">safari</option> -->
                    </select>
                </div>
                <div class="field">
                    <select ng-change="reload()" ng-model="type" class="ui dropdown" name="card[expire-browser]">
                        <option ng-selected="true" value="hour">按小时统计</option>
                        <option value="day">按天统计</option>
                    </select>
                </div>
                <div class="field">
                    <input type="text" ng-model="time_start" placeholder="开始时间" datetype="datetime" datetype="date" datetime-picker format="yyyy/mm/dd hh:ii"/>
                </div>
                <div class="field">
                    <input type="text" ng-model="time_end" placeholder="结束时间" datetype="datetime" datetype="date" datetime-picker format="yyyy/mm/dd hh:ii">
                </div>
                <div class="field">
                    <button class="ui primary button" ng-click="reload(1)">统计</button>
                    <button class="ui primary button" ng-click="showTable()">表格</button>
                </div>

            </div>

            <div class="five fields">
                <div class="fild">
                    <div class="ui toggle checkbox"  ng-show='false'>
                      <input ng-model="ie7" ng-change="WITHOUTIE7()" type="checkbox" name="public">
                      <label>除IE7</label>
                    </div>
                    <div class="ui toggle checkbox" ng-show='false'>
                      <input ng-model="isAuto" ng-change="autoLoad()" type="checkbox" name="public">
                      <label>自动刷新</label>
                    </div>
                    <div class="ui toggle checkbox" ng-show='false'>
                      <input ng-model="isSpeed" ng-change="speedLoad()" type="checkbox" name="public">
                      <label>快速查询</label>
                    </div>
                </div>
            </div>
            <main-top-info></main-top-info>
        </div>

    </textarea>

    <textarea id="tmpl-main-top-menu-container">
        <div class='top'>
            <div class="navi">{{page}}<!-- <i ng-if='page_name'>--{{page_name}}</i> --></div>
            <button class="ui primary button" ng-click="showMenu()">选项</button>
            <button class="ui primary button" ng-click="showTable()">表格</button>
            <div class='top-menu' ng-show="menu_show">
                <ul class='picker'>
                    <i>时间颗粒：</i>
                    <li ng-class="time_type=='hour'?'active':''" ng-click="setTimeType('hour')">小时</li>
                    <li ng-class="time_type=='day'?'active':''" ng-click="setTimeType('day')">天</li>
                </ul>

                <ul class='picker'>
                    <i>浏览器：</i>
                    <li ng-class="browser_name==''?'active':''" ng-click="setBrowserName('')">全部</li>
                    <li ng-class="browser_name=='ie'?'active':''" ng-click="setBrowserName('ie')">IE</li>
                    <li ng-class="browser_name=='chrome'?'active':''" ng-click="setBrowserName('chrome')">Chrome</li>
                </ul>

                <ul class='picker'>
                    <i>时间段：</i>
                    <li ng-class="time_range=='today'?'active':''" ng-click="setTimeRange('today')">今天</li>
                    <li ng-class="time_range=='yestoday'?'active':''" ng-click="setTimeRange('yestoday')">昨天</li>
                    <li ng-class="time_range=='week'?'active':''" ng-click="setTimeRange('week')">本周</li>
                    <li ng-class="time_range=='lastweek'?'active':''" ng-click="setTimeRange('lastweek')">上周</li>
                    <li ng-class="time_range=='month'?'active':''" ng-click="setTimeRange('month')">本月</li>
                    <li ng-class="time_range=='lastmonth'?'active':''" ng-click="setTimeRange('lastmonth')">上月</li>
                    <li ng-class="time_range==''?'active':''" ng-click="setTimeRange('')">自定义</li>
                </ul>

                <div class="time-field" ng-show="time_range==''">
                    <input type="text" ng-model="time_start" placeholder="开始时间" datetype="datetime" datetype="date" datetime-picker format="yyyy/mm/dd hh:ii"/>
                    <input type="text" ng-model="time_end" placeholder="结束时间" datetype="datetime" datetype="date" datetime-picker format="yyyy/mm/dd hh:ii">
                </div>

                <div class='button-container'>
                    <button class="ui red button" ng-click="showMenu()">取消</button>
                    <button class="ui positive button" ng-click="reload()">确定</button>
                </div>

            </div>

           
        </div>
    </textarea>

    <textarea id="tmpl-data-table">
        <div class="table-container" ng-show="show" ng-click="hideTable()">
            <div class="records-table-container">
                <table class="records-table" ng-show='active_menu=="index"'>
                    <tr>
                        <th>时间</th><th>白屏时间</th><th>页面解析</th><th>首屏时间</th><th>完全加载</th><th>IE占比</th><th>Chrome占比</th><th>播放器加载</th><th>JS加载</th><!-- <th>PV</th> -->
                    </tr>
                    <tr ng-repeat="item in data">
                        <td ng-if="item.result.type=='day'">{{item.time_start|date: 'MM月dd日'}}</td>
                        <td ng-if="item.result.type=='hour'">{{item.time_start|date: 'MM月dd日HH时'}}</td>
                        <td>{{item.result.first_paint}}ms</td>
                        <td>{{item.result.dom_ready}}ms</td>
                        <td>{{item.result.first_view}}ms</td>
                        <td>{{item.result.load_time}}ms</td>
                        <td>{{item.result.iepv/item.result.pv|perFilter}}</td>
                        <td>{{item.result.chromepv/item.result.pv|perFilter}}</td>
                        <td>{{item.result.flash_percent|perFilter}}</td>
                        <td>{{item.result.js_load|perFilter}}</td>
                        <!-- <td>{{item.result.pv}}00</td> -->
                    </tr>
                </table>
                <table class="records-table" ng-show='active_menu=="mobile"'>
                    <tr>
                        <th>时间</th><th>资源加载成功率</th><th>PV-VV转化率</th><th>PV</th>
                    </tr>
                    <tr ng-repeat="item in data">
                        <td ng-if="item.type=='day'">{{item.time_start|date: 'MM月dd日'}}</td>
                        <td ng-if="item.type=='hour'">{{item.time_start|date: 'MM月dd日HH时'}}</td>
                        <td>{{item.pv2source|perFilter}}</td>
                        <td>{{item.pv2vv|perFilter}}</td>
                        <td>{{item.pv}}00</td>
                    </tr>
                </table>
                <table class="records-table" ng-show='active_menu=="player"'>
                    <tr>
                        <th>时间</th><th>播放器加载</th><th>CMS</th><th>分发</th><th>广告播放</th><th>广告结束</th><th>PV-VV</th>
                    </tr>
                    <tr ng-repeat="item in data">
                        <td ng-if="item.type=='day'">{{item.time_start|date: 'MM月dd日'}}</td>
                        <td ng-if="item.type=='hour'">{{item.time_start|date: 'MM月dd日HH时'}}</td>
                        <td>{{item.per_flash|perFilter}}</td>
                        <td>{{item.per_cms|perFilter}}</td>
                        <td>{{item.per_dispatch|perFilter}}</td>
                        <td>{{item.per_ad|perFilter}}</td>
                        <td>{{item.per_ad_end|perFilter}}</td>
                        <td>{{item.per_play|perFilter}}</td>
                    </tr>
                </table>
            </div>
            <div class="table-background">
                
            </div>
        </div>
        
    </textarea>

    <textarea id="tmpl-main-top-info">
        <div class="ui horizontal list" ng-show='false'>
            <div class="item">
                【{{page_name}}】的平均性能指标：
            </div>
            <div class="item">
                白屏时间：{{records.first_paint|msFilter}}ms
            </div>
            <div class="item">
                页面解析：{{records.dom_ready|msFilter}}ms
            </div>
            <div class="item">
                首屏时间：{{records.first_view|msFilter}}ms
            </div>
            <div class="item">
                完全加载：{{records.load_time|msFilter}}ms
            </div>
            <div class="item" ng-if="records.flash_load > 0">
                FLASH加载成功率：{{records.flash_load|perFilter}}
            </div>
        </div>
        
    </textarea>


    <textarea id="tmpl-main-charts-container">

        <div>
            <div class="chart bar-chart" bar-chart data-title="【{{page_name}}】的平均性能指标"></div>
            <div class="chart child-chart" gauge-chart data-title="播放器加载成功率" data-field='flash_load' style="width:25%;"></div>
            <div class="chart child-chart" pie-chart data-title="浏览器占比"></div>
            <div class="chart main-chart" main-chart></div>
            <div class="chart child-chart" child-chart data-cntitle="PV" data-title="pv"></div>
            <div class="chart child-chart" child-chart data-cntitle="播放器加载成功率" data-title="flash_percent"></div>
            <div class="chart child-chart long" line-piled-chart data-title="浏览器占比"></div>
            <div class="chart child-chart" child-chart data-cntitle="JS加载成功率" data-title="js_load"></div>
            <records-table></records-table>

        </div>

    </textarea>
    <textarea id="tmpl-position-charts-container">

        <div>
            <div class="position-title" ng-show='false'><span ng-if='parent_name'>{{parent_name}}-></span>{{page_name}}</div>

            <position-select-bar></position-select-bar>

            <div class="chart position-bar-chart" position-bar-chart data-title="白屏时间" data-key="first_paint"></div>

            <div class="chart position-bar-chart thin" position-stack-bar-chart data-title="性能区间"></div>
    
            <records-table></records-table>

        </div>

    </textarea>

    <textarea id="tmpl-mobile-charts-container">

        <div>
            <div class="chart child-chart mobile" gauge-chart data-title="PV-VV转化率" data-field='pv2vv'></div>
            <div class="chart child-chart mobile" child-chart data-cntitle="PV" data-title="pv"></div>
            <div class="chart child-chart mobile" child-chart data-cntitle="资源加载成功率" data-title="pv2source"></div>
            <div class="chart child-chart mobile" child-chart data-cntitle="PV-VV转化率" data-title="pv2vv"></div>
            <records-table></records-table>
        </div>

    </textarea>

    <textarea id="tmpl-player-charts-container">

        <div>
            <div class="chart child-chart mobile" funnel-chart data-title="PV-VV漏斗图"></div>
            <div class="chart child-chart mobile" player-bar-chart data-title="PV-VV流失率"></div>
            <div class="chart main-chart player" player-line-chart data-cntitle="PV-VV分时折线图"></div>
            <records-table></records-table>
        </div>

    </textarea>

    <textarea id="tmpl-firstPaint-charts-container">

        <div>
            <div class="chart second-page" position-bar-chart data-title="性能区间" data-background="rgba(51,51,51,0)" data-key="first_paint"></div>
            <div class="chart second-page" child-chart data-cntitle="白屏时间" data-title="first_paint"></div>
            <div class="chart second-page" main-chart></div>
            <div class="chart second-page" child-chart data-cntitle="吞吐量" data-title="pv"></div>
        </div>

    </textarea>
    <textarea id="tmpl-firstView-charts-container">

        <div>
            <div class="chart second-page" position-bar-chart data-title="性能区间" data-background="rgba(51,51,51,0)" data-key="first_view"></div>
            <div class="chart second-page" child-chart data-cntitle="首屏时间" data-title="first_view"></div>
            <div class="chart second-page" main-chart></div>
            <div class="chart second-page" child-chart data-cntitle="吞吐量" data-title="pv"></div>

        </div>

    </textarea>
    <textarea id="tmpl-domReady-charts-container">

        <div>
            <div class="chart second-page" position-bar-chart data-title="性能区间" data-background="rgba(51,51,51,0)" data-key="dom_ready"></div>
            <div class="chart second-page" child-chart data-cntitle="DomReady" data-title="dom_ready"></div>
            <div class="chart second-page" main-chart></div>
            <div class="chart second-page" child-chart data-cntitle="吞吐量" data-title="pv"></div>

        </div>

    </textarea>
    <textarea id="tmpl-pageLoad-charts-container">

        <div>
            <div class="chart second-page" position-bar-chart data-title="性能区间" data-background="rgba(51,51,51,0)" data-key="load_time"></div>
            <div class="chart second-page" child-chart data-cntitle="页面加载时间" data-title="load_time"></div>
            <div class="chart second-page" main-chart></div>
            <div class="chart second-page" child-chart data-cntitle="吞吐量" data-title="pv"></div>

        </div>

    </textarea>

</div>













