<div>
    <textarea id="tmpl-login">
        <div class="login">
            <h2>
                登录BHM
            </h2>
            <div class="form">
                <div class="input"><input type="text" id="loginname" ng-model='name' placeholder="登录名"></div>
                <div class="input"><input type="password" id="password" ng-model='pwd' placeholder="密码"></div>
            </div>

            <div class="ui fluid large teal primary button" ng-click='login()'>登录</div>
        </div>

    </textarea>

    <textarea id="tmpl-main">
        <div>
            <div class="ui grid">
                <div class="menu_page">
                    <main-left-menu></main-left-menu>
                </div>
                <div class="view_main with_menu">
                    <main-top-menu-c></main-top-menu-c>
                    <main-charts-container></main-charts-container>
                </div>
                <div class="loading sixteen wide column" ng-show="loading">
                    
                </div>
                <div class="loading-gif" ng-show="loading">
                    <img src="/img/loading.gif">
                </div>
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-mobile">
        <div>
            <div class="ui grid">
                <div class="view_main">
                    <main-top-menu-c></main-top-menu-c>
                    <mobile-charts-container></mobile-charts-container>
                </div>
         <!--        <div class="loading sixteen wide column" ng-show="loading">
                    
                </div>
                <div class="loading-gif" ng-show="loading">
                    <img src="/img/loading.gif">
                </div> -->
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-position">
        <div>
            <div class="ui grid">
                <div class="menu_page">
                    <main-left-menu></main-left-menu>
                </div>
                <div class="view_main with_menu">
                    <main-top-menu-c></main-top-menu-c>
                    <position-charts-container></position-charts-container>
                </div>
           <!--      <div class="loading sixteen wide column" ng-show="loading">
                    
                </div>
                <div class="loading-gif" ng-show="loading">
                    <img src="/img/loading.gif">
                </div> -->
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-player">
        <div>
            <div class="ui grid">
                <div class="view_main">
                    <main-top-menu-c></main-top-menu-c>
                    <player-charts-container></player-charts-container>
                </div>
            <!--     <div class="loading sixteen wide column" ng-show="loading">
                    
                </div>
                <div class="loading-gif" ng-show="loading">
                    <img src="/img/loading.gif">
                </div> -->
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-firstPaint">
        <div>
            <div class="ui grid">
                <div class="menu_page">
                    <main-left-menu></main-left-menu>
                </div>
                <div class="view_main with_menu">
                    <main-top-menu-c></main-top-menu-c>
                    <firstpaint-charts-container></firstpaint-charts-container>
                </div>
            <!--     <div class="loading sixteen wide column" ng-show="loading">
                    
                </div>
                <div class="loading-gif" ng-show="loading">
                    <img src="/img/loading.gif">
                </div> -->
            </div>
        </div>
    </textarea>

        <textarea id="tmpl-firstView">
        <div>
            <div class="ui grid">
                <div class="menu_page">
                    <main-left-menu></main-left-menu>
                </div>
                <div class="view_main with_menu">
                    <main-top-menu-c></main-top-menu-c>
                    <firstview-charts-container></firstview-charts-container>
                </div>
             <!--    <div class="loading sixteen wide column" ng-show="loading">
                    
                </div>
                <div class="loading-gif" ng-show="loading">
                    <img src="/img/loading.gif">
                </div> -->
            </div>
        </div>
    </textarea>

        <textarea id="tmpl-domReady">
        <div>
            <div class="ui grid">
                <div class="menu_page">
                    <main-left-menu></main-left-menu>
                </div>
                <div class="view_main with_menu">
                    <main-top-menu-c></main-top-menu-c>
                    <domready-charts-container></domready-charts-container>
                </div>
            <!--     <div class="loading sixteen wide column" ng-show="loading">
                    
                </div>
                <div class="loading-gif" ng-show="loading">
                    <img src="/img/loading.gif">
                </div> -->
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-pageLoad">
        <div>
            <div class="ui grid">
                <div class="menu_page">
                    <main-left-menu></main-left-menu>
                </div>
                <div class="view_main with_menu">
                    <main-top-menu-c></main-top-menu-c>
                    <pageload-charts-container></pageload-charts-container>
                </div>
            <!--     <div class="loading sixteen wide column" ng-show="loading">
                    
                </div>
                <div class="loading-gif" ng-show="loading">
                    <img src="/img/loading.gif">
                </div> -->
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-playerLoad">
        <div>
            <div class="ui grid">
                <div class="menu_page">
                    <main-left-menu></main-left-menu>
                </div>
                <div class="view_main with_menu">
                    <main-top-menu-c></main-top-menu-c>
                    <playerload-charts-container></playerload-charts-container>
                </div>
            <!--     <div class="loading sixteen wide column" ng-show="loading">
                    
                </div>
                <div class="loading-gif" ng-show="loading">
                    <img src="/img/loading.gif">
                </div> -->
            </div>
        </div>
    </textarea>



    <textarea id="tmpl-email">
        <div>
            <style type="text/css">
                body{
                    background-color: #fff !important;
                    background-image: none !important; 
                }
            </style>
            <div class="chart child-chart" gauge-chart data-title="播放器加载成功率" data-field='flash_load' style="width:25%;"></div>
            <div class="chart second-page" child-chart data-cntitle="播放器加载成功率" data-title="flash_percent" style="width:75%;"></div>
            <div class="chart second-page" child-chart data-cntitle="吞吐量" data-title="pv"></div>
        </div>
    </textarea>
</div>